name: publish

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      
      - name: Cache
        uses: actions/cache@v2
        with:
          path: /var/tmp/hugo_cache
          key: ${{ runner.os }}-hugo

      - name: Build pages
        uses: docker://klakegg/hugo:0.81.0-ext-ubuntu
        with:
          args: --source blog
        env:
          HUGO_ENV: production
          HUGO_CACHEDIR: /var/tmp/hugo_cache

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./blog/public
          cname: blog.aerie.jp
